<ul>
  {{#each burger}}
  <li>
    <p>
      {{this.id}}. {{this.burger_name}}
      {{!-- <button data-burger_nameid="{{this.id}}" class="delburger">Devour it!</button> --}}
      <button class="delburger" data-id="{{this.id}}">Devour it!</button>
    </p>
  </li>
  {{/each}}
</ul>

<h2>Eat-Dat-Burger</h2>
<form id="createburger" class="button-size">
  <textarea type="text" name="burger_name"></textarea>
  <button type="submit">Submit</button>
</form>
<h3>Enter a burger you want to east Click the "Submit" button.</h3>

<script type="text/javascript">
  $(".delburger").on("click", function(event) {
    // Get the ID from the button.
    // This is shorthand for $(this).attr("data-burger_nameid")
    var id = $(this).data("id");

    // Send the DELETE request.
    $.ajax("/api/burgers/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#createburger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // [name=burger_name] will find an element with a "name" attribute equal to the string "burger_name"
    var newBurger = {
      burger_name: $("#createburger [name=burger_name]").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("Burger Name:");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>
